<VirtualHost *:8080>
    DocumentRoot /var/www/html

    <Location "/protegido">
        AuthType Basic
        AuthName "LDAP Authentication"
        AuthBasicProvider ldap
        AuthLDAPURL "ldap://ldap-service:389/dc=joseftp,dc=com"
        AuthLDAPBindDN "cn=admin,dc=joseftp,dc=com"
        AuthLDAPBindPassword "admin-ldap"
        Require valid-user
    </Location>

        Alias /protegido /var/www/html/protected
<Directory /var/www/html/protected>
    Require all granted
</Directory>
</VirtualHost>
