<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Welcome Usuario2</title>
</head>
<body>
    <h1>¡Hi, Usuario2!</h1>
    <p>welcome to your personalitated  page.</p>
    <p>Enjoy.</p>
</body>
</html>
