[default]
aws_access_key_id=ASIAXONQAC2JP5QJK2MR
aws_secret_access_key=apaYKe3fv64KtomE+lkrSj+kwjJud4hHvQ2hps4q
aws_session_token=IQoJb3JpZ2luX2VjEJr//////////wEaCXVzLXdlc3QtMiJGMEQCIA9pXrrdrwqJfXT5uuOnlfjUUSe50G48xG3Ux+G1NtIZAiAeK26Kc88WcDKkx/Nx5Arbc5Q+Br7aZ56k4fJYG2kVTSq6Agij//////////8BEAEaDDUxMjAwNzA4MzY2NiIMcFZoEkaPTVffnpz1Ko4CmpNw7M0RTi/lt3BYMn/BsWDVy/OXyl/8tlzVU0exUy0EqE4B7MLokpLGyKK3Y32Q1m9lfJjdIgpj+0xdiZqbAg09S3+zfQFSUEtwJ7z+g1fqM1LLG10Lek80GTjg9LM7BHdTQaIn9XcpxNfdX6ZbUvO3x3aa/i/MtrEy090ezREMToL2+Uz38R8KnH4k2EGSYDYE3wGkZqVXe25vZHILqltwtLpGR6MAvllNBh3J14iVRb/3JzkYno5HvX3eYUS0GgOLZLB2JGIN7iAY8LycbPEpFLBITJH4JIRqMY3KT4N8b991uw86Bcp4CFu+vG1Swyanjqb2v4UgGKDSwiJoTgqIHUl+jJLqGcDt70eAMMmO7bwGOp4BYLNorFzW6d6aENGEWNgAqf4krTJfiuogWopDWXEfP6fJVK5FwUPppTlaECDgY0bs2P4D2+6lcbZwuFZ+wuDWeRA3496kysl7KUXhqhlchYz/U9Ls3qGn4lZktWCSia8CMHJAzrHyJLk/+NFedfN1ObDsmyIOi748Y8B44zcwOH2gUDANswWbXsbEDGF6+tFiiLnRD6+jikAy3JRsGuQ=
