<!doctype html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Página de Prueba del Servidor HTTP impulsada por: Rocky Linux</title>
    <style type="text/css">
      /*<![CDATA[*/
      html {
        height: 100%;
        width: 100%;
      }  
      body {
        background: rgb(20,72,50);
        background: -moz-linear-gradient(180deg, rgba(23,43,70,1) 30%, rgba(0,0,0,1) 90%)  ;
        background: -webkit-linear-gradient(180deg, rgba(23,43,70,1) 30%, rgba(0,0,0,1) 90%) ;
        background: linear-gradient(180deg, rgba(23,43,70,1) 30%, rgba(0,0,0,1) 90%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c6eb4",endColorstr="#3c95b4",GradientType=1); 
        color: white;
        font-size: 0.9em;
        font-weight: 400;
        font-family: 'Montserrat', sans-serif;
        margin: 0;
        padding: 10em 6em 10em 6em;
        box-sizing: border-box;      
      }

      h1 {
        text-align: center;
        margin: 0;
        padding: 0.6em 2em 0.4em;
        color: #fff;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        font-size: 2em;
      }
      h1 strong {
        font-weight: bolder;
        font-family: 'Montserrat', sans-serif;
      }
      h2 {
        font-size: 1.5em;
        font-weight:bold;
      }
      
      .title {
        border: 1px solid black;
        font-weight: bold;
        position: relative;
        float: right;
        width: 150px;
        text-align: center;
        padding: 10px 0 10px 0;
        margin-top: 0;
      }
      
      .description {
        padding: 45px 10px 5px 10px;
        clear: right;
        padding: 15px;
      }
      
      .section {
        padding-left: 3%;
        margin-bottom: 10px;
      }
      
      img {
        padding: 2px;
        margin: 2px;
      }
      a:hover img {
        padding: 2px;
        margin: 2px;
      }

      :link {
        color: rgb(199, 252, 77);
        text-shadow:
      }
      :visited {
        color: rgb(122, 206, 255);
      }
      a:hover {
        color: rgb(16, 44, 122);
      }
      .row {
        width: 100%;
        padding: 0 10px 0 10px;
      }
      
      footer {
        padding-top: 6em;
        margin-bottom: 6em;
        text-align: center;
        font-size: xx-small;
        overflow:hidden;
        clear: both;
      }
      
      .summary {
        font-size: 140%;
        text-align: center;
      }

      #rocky-poweredby img {
        margin-left: -10px;
      }

      #logos img {
        vertical-align: top;
      }
      
      /* Opciones de vista de escritorio */
      @media (min-width: 768px)  {
        body {
          padding: 10em 20% !important;
        }
      }
      
      /* Opciones de vista móvil */
      @media (max-width: 767px) {
        .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
        .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
          float: left;
        }
      }
    </style>
  </head>
  <body>
    <h1>Página de Prueba del Servidor HTTP <strong>Test Page</strong></h1>
    <div class='row'>
      <div class='col-sm-12 col-md-6 col-md-6 '></div>
          <p class="summary">Esta página se usa para probar el correcto funcionamiento de
            un servidor HTTP después de haber sido instalado en un sistema Rocky Linux.
            Si puedes leer esta página, significa que el software está funcionando
            correctamente.</p>
      </div>
      <div class='col-sm-12 col-md-6 col-md-6 col-md-offset-12'>
        <div class='section'>
          <h2>¿Solo estás visitando?</h2>
          <p>Este sitio web que estás visitando está experimentando problemas o
          podría estar en mantenimiento.</p>

          <p>Si deseas informar a los administradores de este sitio que has visto esta página en lugar de la página esperada,
          deberías enviarles un correo electrónico. En general, el correo enviado a la dirección
          "webmaster" y dirigido al dominio del sitio debería llegar a la persona adecuada.</p>

          <p>La dirección de correo electrónico más común es:
          <strong>"webmaster@example.com"</strong></p>
    
          <h2>Nota:</h2>
          <p>La distribución de Rocky Linux es una plataforma estable y reproducible
          basada en los fuentes de Red Hat Enterprise Linux (RHEL). Con esto en mente, por favor entiende que:

        <ul>
          <li>Ni el <strong>Proyecto Rocky Linux</strong> ni la
          <strong>Fundación de Software Empresarial de Rocky</strong> tienen algo que ver con este sitio web o su contenido.</li>
          <li>El Proyecto Rocky Linux ni la <strong>RESF</strong> han
          "hackeado" este servidor web: Esta página de prueba está incluida en la distribución.</li>
        </ul>
        <p>Para más información sobre Rocky Linux, por favor visita el
          <a href="https://rockylinux.org/"><strong>sitio web de Rocky Linux</strong></a>.
        </p>
        </div>
      </div>
      <div class='col-sm-12 col-md-6 col-md-6 col-md-offset-12'>
        <div class='section'>
         
          <h2>Soy el administrador, ¿qué debo hacer?</h2>

        <p>Ahora puedes agregar contenido al directorio webroot para tu
        software.</p>

        <p><strong>Para sistemas que usan el
        <a href="https://httpd.apache.org/">Servidor Web Apache</strong></a>:
        Puedes agregar contenido al directorio <code>/var/www/html/</code>.
        Hasta que lo hagas, las personas que visiten tu sitio verán esta página. Si
        deseas que esta página no se muestre, sigue las instrucciones en:
        <code>/etc/httpd/conf.d/welcome.conf</code>.</p>

        <p><strong>Para sistemas que usan
        <a href="https://nginx.org">Nginx</strong></a>:
        Puedes agregar tu contenido en un lugar de tu
        elección y editar la directiva de configuración <code>root</code>
        en <code>/etc/nginx/nginx.conf</code>.</p>
        
        <div id="logos">
          <a href="https://rockylinux.org/" id="rocky-poweredby"><img src="icons/poweredby.png" alt="[ Impulsado por Rocky Linux ]" /></a> <!-- Rocky -->
          <img src="poweredby.png" /> <!-- servidor web -->
        </div>       
      </div>
      </div>
      <footer class="col-sm-12">
      <a href="https://apache.org">Apache&trade;</a> es una marca registrada de <a href="https://apache.org">la Fundación Apache Software</a> en los Estados Unidos y/o en otros países.<br />
      <a href="https://nginx.org">NGINX&trade;</a> es una marca registrada de <a href="https://">F5 Networks, Inc.</a>.
      </footer>
  </body>
</html>
